@import "./styles/font-awesome.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Uni Neue Regular", "Roboto", "Helvetica", "Arial", sans-serif;
  overflow: hidden;
}

pre {
  font-family: "Uni Neue Regular", "Roboto", "Helvetica", "Arial", sans-serif;
}

html, body, #root, .root-height {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@font-face {
  font-family: "Uni Neue Regular";
  src: url("./fonts/UniNeue-Regular/UniNeueRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.fa-xs {
  font-size: 0.75em;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.hidden {
  display: none !important;
}

.paper-overflow-hidden {
  overflow: hidden;
  /* TODO: check this */
  /* height: 100%; */
}

.debug-info {
  word-break: break-all;
}

.debug-info-key {
  color: #040090;
}

.debug-info-value {
  color: #00520f;
}

.cursor-hidden {
  cursor: none !important;
}
